/* img {
  width: 100%;
  height: 100%;
}

.cat_product {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
}

.categories {
  background-color: #fff;
  width: 100%;
} */
