/* First Header
---------------------------------*/

.headerOne_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  margin-right: 15px;
  width: 50px;
  position: relative;
  left: 30px;
}

small {
  color: #f68b1e;
  padding-left: 3px;
  font-weight: 500;
}

.star_icon {
  background-color: #df7c2b;
  color: white;
  border-radius: 50%;
  width: 12px;
}
.advert {
  margin: 0px;
}
.icon {
  margin-right: 10px;
  width: 30px;
  color: gray;
}

.ad_text {
  padding-right: 190px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ededed;
}
.headerOne_logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 400px;
}

/* Second Header
---------------------------------*/
.headerTwo_component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 70px;
}

.right_component {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
  margin-right: 2rem;
  right: 5rem;
}
.profile,
.help,
.cart {
  padding: 8px;
}
.headerTwo_logo {
  margin-left: 70px;
  background-color: #fff;
}

.img {
  width: 140px;
  background-color: #fff;
  margin-left: 20px;
}
.searchField {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  width: 100%;
  margin-left: 3.3em;
}

input {
  width: 70%;
  padding: 0.7rem;
  border: none;
  outline: 1px solid rgb(212, 209, 209);
  background-color: #fff;
  margin: 0.7em;
}
button {
  width: 90px;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #df7c2b;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
  margin: 10px;
  background: #fff;
  cursor: pointer;
}
.profile:hover {
  color: #f68b1e;
}
.text {
  background: #fff;
  font-size: 1em;
  font-weight: 500;
}
.icons {
  background: #fff;
}
.help {
  display: flex;
  align-items: center;
  background: #fff;
  margin: 5px;
  cursor: pointer;
}
.help:hover {
  color: #f68b1e;
}

.cart {
  display: flex;
  align-items: center;
  background: #fff;
  cursor: pointer;
}
.cart:hover {
  color: #f68b1e;
}
