/* Home
---------------------------------*/
.hero-section {
  margin-right: 90px;
  margin-left: 90px;
}
.hero_container {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}
.topSelling_heading,
.dealDay_heading,
.clearance_heading {
  padding-top: 10px;
}
.categores__product,
.ad_post {
  margin-top: 20px;
}

/* Left COmponent
---------------------------------*/
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #ffffff;
  width: 190px;
  margin: 0;
  border-radius: 5px;
}
.link {
  margin: 3px;
  display: flex;
  padding-bottom: 3px;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.89rem;
  font-weight: 400;
}
.link:hover {
  color: #f68b1e;
}
.left_icon {
  background: #fff;
  padding: 4px;
}
/* Mid COmponent
---------------------------------*/
.home_img {
  width: 728px;
  position: relative;
  left: 20px;
}
/* Right COmponent 
---------------------------------*/
.right_content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  background-color: #fff;
}
/* Right COmponent One
---------------------------------*/
.first_component {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5px;
  height: 150px;
}
span {
  padding-left: 7px;
  padding-top: 5px;
  background-color: #fff;
}
p {
  font-size: 0.8em;
}
span > h3,
p {
  background-color: #fff;
  color: rgb(63, 63, 63);
}
.right_icon {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #fff;
  padding-left: 5px;
  color: #f68b1e;
}
/* Right COmponent Two
---------------------------------*/
.right_ad {
  width: 220px;
  margin-top: 45px;
}
/* Button COmponent 
---------------------------------*/
.button {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.btn_gif {
  width: 40px;
  background-color: #fff;
  margin-left: 15px;
}
.btn_con {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 50px;
  width: 200px;
  cursor: pointer;
}
.btn_text {
  font-weight: 500;
}
/* Top Selling COmponent 
---------------------------------*/
.top_selling {
  background-color: #fff;
  position: static;
}
.topSelling_heading {
  margin-top: 10px;
}
.topSelling_heading h3 {
  background-color: #fff;
  padding-left: 0.5em;
  height: 30px;
}
.topSelling_container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
/* Top Deal COmponent 
---------------------------------*/
.deal_day {
  background-color: #fff;
  position: static;
}
.dealDay_heading {
  margin-top: 10px;
}
.dealDay_heading h3 strong {
  background-color: #ff0000;
}
.dealDay_heading h3 {
  background-color: #ff0000;
  padding-left: 0.5em;
  height: 30px;
  color: white;
  font-weight: normal;
}
/* Clearance Sale COmponent 
---------------------------------*/
.clearance_sale {
  background-color: #fff;
  position: static;
}
.clearance_heading {
  margin-top: 10px;
}
.clearance_heading h3 strong {
  background-color: #0000ff;
}
.clearance_heading h3 {
  background-color: #0000ff;
  padding-left: 0.5em;
  height: 30px;
  color: white;
  font-weight: normal;
}

/* Categoreis COmponent 
---------------------------------*/
.categories__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px;
  background-color: #fff;
}
.categores_heading {
  margin-top: 5px;
  background-color: #fff;
  padding-left: 0.5em;
  font-weight: normal;
  font-size: 1.3rem;
}
.categores__product {
  background-color: #fff;
}
/* Ad COmponent 
---------------------------------*/
.ad_post {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  /* border-bottom: 1px solid gray; */
}
.ad_post > img:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-out;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.ad_one,
.ad_two {
  width: 50%;
}
