/* Home
---------------------------------*/
.home {
  margin-right: 90px;
  margin-left: 90px;
}
.home_container {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}
/* Left COmponent
---------------------------------*/
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #ffffff;
  width: 190px;
  margin: 0;
  border-radius: 5px;
}
.link {
  margin: 3px;
  display: flex;
  padding-bottom: 3px;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.89rem;
  font-weight: 400;
}
.link:hover {
  color: #f68b1e;
}
.left_icon {
  background: #fff;
  padding: 4px;
}
/* Mid COmponent
---------------------------------*/
.home_img {
  width: 728px;
}
/* Right COmponent 
---------------------------------*/
.right_content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  background-color: #fff;
}
/* Right COmponent One
---------------------------------*/
.first_component {
  background-color: #fff;
  margin: 5px;
}
span {
  padding-left: 5px;
  background-color: #fff;
}
p {
  font-size: 1em;
}
span > h3,
p {
  background-color: #fff;
}
.right_icon {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  padding-left: 5px;
  color: #f68b1e;
}
/* Right COmponent Two
---------------------------------*/

.second_component > img {
  width: 200px;
  position: relative;
  top: 50px;
}
